body {
  padding: 15px;
  margin: 15px;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;	
}

p {
  margin: 15px;	
}

#header {
  border-bottom: 5px solid #37474F;
  color: #37474F;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
}

			
.card {
  border: 0rem;
  border-radius: 0rem;
}

.card-header {
  background-color: #37474F;
  border-radius: 0 !important;
  color:	white;
  margin-bottom: 0;
  padding:	1rem;
}

.card-block {
  border: 1px solid #cccccc;	
}

.shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

#map,
body,
html {
  height: 600px;
}

/* #stats_container {

}
#bar {
  
}
#pie{

} */